{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src = "{% static 'js/index.js' %}"></script>
     <meta charset="utf-8">
    <title>клик ер</title>
  </head>
  <body>


      <main class = "app">
      <nav class="nav"><p class="title">НАСКОЛЬКО СИЛЬНО ВЫ ЛЮБИТЕ САУНДВЕЙВА(конкретно из трансформеров прайм)</p>

      <div class="logout"><a href="/logout">Выйти</a></div>
      </nav>
     <div class="container">
         <div class="center">Накопленная любовь</div>
         <div class="center" id='coins' >{{ core.coins }} </div>

         <button onclick="call_click()" id ="kakashi" class="soundwave"><img class="center" src="{% static 'soundwave.png' %}" alt="My image" >
             </button>
             <p class="stat-text">
             МОЩЬ любви: <span id="click_power">{{ core.click_power }}</span>
         </p>
         <p class="stat-text">
     пассивное восхищение <span id="auto_click_power">{{ core.auto_click_power }}</span>
</p>

         <aside class="boosts" id="boosts">
              <h3>Купить игрушки саундвейва</h3>
              <div class="" id="boosts-holder">
                  {% for boost in boosts %}
              <button class="boost_{{boost.type}}" id="boost_{{boost.id}}" role="button" onclick="buy_boost({{boost.id}})">
                  <p>lvl:<span id="boost_level"> {{ boost.lvl }}</span></p>
                  <p>+<span id="boost_power">{{ boost.power }}</span></p>
                  <p><span id="boost_price">{{ boost.price }}</span></p>
                    </button>
                  {%  endfor %}
              </div>
          </aside>

    </div>

      </main>
  </body>
</html>
